<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @home_state.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @home_state.state %>
</p>

<%= link_to 'Edit', edit_home_state_path(@home_state) %> |
<%= link_to 'Back', home_states_path %>
